In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [34]:
data = pd.read_csv("Global_Mobility_Report.csv",low_memory=False)
data=data.rename(columns = {
        "country_region":"country",
        "sub_region_1":"state",
        "sub_region_2":"county",
    "retail_and_recreation_percent_change_from_baseline":"retail",
"grocery_and_pharmacy_percent_change_from_baseline":"grocery_pharmacy",
    "parks_percent_change_from_baseline":"parks",
    "transit_stations_percent_change_from_baseline":"transit",
    "workplaces_percent_change_from_baseline":"transit",
"residential_percent_change_from_baseline":"residential"})

In [56]:
data=data.dropna(subset =['retail','grocery_pharmacy','parks','transit','transit','residential']).drop(columns=['census_fips_code'])
data

,country_region_code,country,state,county,iso_3166_2_code,date,retail,grocery_pharmacy,parks,transit,workplace,residential
0,AE,United Arab Emirates,NaN,NaN,NaN,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,NaN,NaN,NaN,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,NaN,NaN,NaN,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,NaN,NaN,NaN,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,NaN,NaN,NaN,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
605569,ZW,Zimbabwe,Harare Province,NaN,ZW-HA,2020-06-23,-24.0,-10.0,-13.0,-39.0,-18.0,23.0
605570,ZW,Zimbabwe,Harare Province,NaN,ZW-HA,2020-06-24,-22.0,-4.0,-4.0,-37.0,-15.0,24.0
605571,ZW,Zimbabwe,Harare Province,NaN,ZW-HA,2020-06-25,-19.0,-5.0,-15.0,-37.0,-15.0,24.0
605572,ZW,Zimbabwe,Harare Province,NaN,ZW-HA,2020-06-26,-21.0,-1.0,-7.0,-35.0,-12.0,22.0
605573,ZW,Zimbabwe,Harare Province,NaN,ZW-HA,2020-06-27,-21.0,0.0,-14.0,-32.0,-1.0,18.0

In [68]:
means=data.mean()

In [57]:
g= data.groupby( ['country','state', 'county'])

In [69]:
g.mean().sort_values(['retail'],ascending=False )

                                                    retail  grocery_pharmacy  \
country       state        county
United States Virginia     Mecklenburg County    11.666667          9.333333
              Georgia      Haralson County        8.894737          7.947368
              Pennsylvania Somerset County        6.400000         12.600000
              Nevada       Elko County            5.666667         28.666667
              Kansas       Saline County          5.000000          0.500000
...                                                    ...               ...
              California   San Francisco County -54.917910        -22.373134
              Colorado     La Plata County      -56.000000        -23.000000
              Texas        Ector County         -59.000000        -40.000000
              New York     New York County      -62.761194        -29.708955
              Kentucky     Hardin County        -64.000000        -42.000000

                                                     parks    transit  \
country       state        county
United States Virginia     Mecklenburg County    -6.000000  14.333333
              Georgia      Haralson County        0.263158   0.210526
              Pennsylvania Somerset County       11.200000  10.600000
              Nevada       Elko County           -5.000000  20.333333
              Kansas       Saline County        -10.500000   2.000000
...                                                    ...        ...
              California   San Francisco County -22.388060 -56.164179
              Colorado     La Plata County      -16.000000 -68.000000
              Texas        Ector County         -34.000000 -17.000000
              New York     New York County      -37.522388 -58.179104
              Kentucky     Hardin County        -43.000000 -47.000000

                                                 workplace  residential
country       state        county
United States Virginia     Mecklenburg County    -0.666667    -1.333333
              Georgia      Haralson County       -3.736842     1.315789
              Pennsylvania Somerset County        2.800000    -0.200000
              Nevada       Elko County            6.000000    -0.666667
              Kansas       Saline County         -2.500000     1.000000
...                                                    ...          ...
              California   San Francisco County -50.559701    22.402985
              Colorado     La Plata County      -54.000000    25.000000
              Texas        Ector County         -37.000000    13.000000
              New York     New York County      -50.007463    19.141791
              Kentucky     Hardin County        -49.000000    12.000000

[665 rows x 6 columns]

In [71]:
norms =g.mean()-means
norms

                                              retail  grocery_pharmacy  \
country       state     county
United States Alabama   Baldwin County     22.932975         20.395186
                        Colbert County     20.569454         11.980564
                        Cullman County     20.835719         17.586086
                        Etowah County      -5.149944         -1.060867
                        Houston County      6.662022          6.020330
...                                              ...               ...
              Wisconsin Washington County  -4.094388         -1.005312
                        Waukesha County     6.534027          6.811628
                        Winnebago County    3.667517          0.839927
              Wyoming   Laramie County     15.260313         12.349389
                        Natrona County     19.441073         18.168447

                                               parks    transit  workplace  \
country       state     county
United States Alabama   Baldwin County     35.678794  29.328401   6.621803
                        Colbert County    -33.449843  32.732777   6.729317
                        Cullman County     30.423859  31.057818   9.671635
                        Etowah County     -13.060012   7.783625   1.315004
                        Houston County      6.401526  21.399010   8.511585
...                                              ...        ...        ...
              Wisconsin Washington County  44.939988   6.616958 -17.629440
                        Waukesha County    81.177693  21.619690  -3.853484
                        Winnebago County   50.416178  14.474101   0.144369
              Wyoming   Laramie County     43.811783  30.689608   3.759448
                        Natrona County     30.908073  17.751710   6.203893

                                           residential
country       state     county
United States Alabama   Baldwin County       -5.804256
                        Colbert County       -4.950727
                        Cullman County       -5.107097
                        Etowah County        -4.515699
                        Houston County       -5.810571
...                                                ...
              Wisconsin Washington County    11.317634
                        Waukesha County       1.052607
                        Winnebago County     -0.360937
              Wyoming   Laramie County       -3.156725
                        Natrona County       -4.306479

[665 rows x 6 columns]

In [72]:
norms.sort_values(['retail'],ascending=False )

                                                    retail  grocery_pharmacy  \
country       state        county
United States Virginia     Mecklenburg County    42.405612         20.161355
              Georgia      Haralson County       39.633682         18.775390
              Pennsylvania Somerset County       37.138945         23.428022
              Nevada       Elko County           36.405612         39.494688
              Kansas       Saline County         35.738945         11.328022
...                                                    ...               ...
              California   San Francisco County -24.178965        -11.545113
              Colorado     La Plata County      -25.261055        -12.171978
              Texas        Ector County         -28.261055        -29.171978
              New York     New York County      -32.022249        -18.880933
              Kentucky     Hardin County        -33.261055        -31.171978

                                                     parks    transit  \
country       state        county
United States Virginia     Mecklenburg County    -7.060012  46.116958
              Georgia      Haralson County       -0.796854  31.994151
              Pennsylvania Somerset County       10.139988  42.383625
              Nevada       Elko County           -6.060012  52.116958
              Kansas       Saline County        -11.560012  33.783625
...                                                    ...        ...
              California   San Francisco County -23.448072 -24.380554
              Colorado     La Plata County      -17.060012 -36.216375
              Texas        Ector County         -35.060012  14.783625
              New York     New York County      -38.582400 -26.395480
              Kentucky     Hardin County        -44.060012 -15.216375

                                                 workplace  residential
country       state        county
United States Virginia     Mecklenburg County    25.537226   -13.182366
              Georgia      Haralson County       22.467051   -10.533243
              Pennsylvania Somerset County       29.003893   -12.049032
              Nevada       Elko County           32.203893   -12.515699
              Kansas       Saline County         23.703893   -10.849032
...                                                    ...          ...
              California   San Francisco County -24.355809    10.553953
              Colorado     La Plata County      -27.796107    13.150968
              Texas        Ector County         -10.796107     1.150968
              New York     New York County      -23.803570     7.292759
              Kentucky     Hardin County        -22.796107     0.150968

[665 rows x 6 columns]

In [77]:
norms.loc['United States','Arizona','Maricopa County']

retail               9.455363
grocery_pharmacy     4.410111
parks              -13.291356
transit              4.022431
workplace           -4.034913
residential         -1.102764
Name: (United States, Arizona, Maricopa County), dtype: float64